In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [15]:
df = pd.read_csv('BeerWineLiquor.csv', parse_dates = ['date'])

In [16]:
df

          date  beer
0   1992-01-01  1509
1   1992-02-01  1541
2   1992-03-01  1597
3   1992-04-01  1675
4   1992-05-01  1822
..         ...   ...
319 2018-08-01  4898
320 2018-09-01  4598
321 2018-10-01  4737
322 2018-11-01  5130
323 2018-12-01  6370

[324 rows x 2 columns]

In [31]:
# Remove last N results from dataframe and run simple linear regression
df_lr = df.tail(10)
df_lr.reset_index(inplace=True)

In [32]:
df_lr

   index       date  beer
0    314 2018-03-01  4629
1    315 2018-04-01  4317
2    316 2018-05-01  4897
3    317 2018-06-01  4939
4    318 2018-07-01  4963
5    319 2018-08-01  4898
6    320 2018-09-01  4598
7    321 2018-10-01  4737
8    322 2018-11-01  5130
9    323 2018-12-01  6370

In [82]:
model = LinearRegression()

X = df_lr['index'].values.reshape(-1, 1)
y = df_lr['beer'].values.reshape(-1, 1)

model.fit(X, y)

LinearRegression()

In [83]:
n = 10

new_values = np.empty(0)
X_pred = X.copy().flatten()

for i in range(n):
    new_value = X_pred[-1] + 1
    X_pred = np.append(X_pred, new_value)
    new_values = np.append(new_values, new_value)
    
new_values = new_values.reshape(-1,1)

In [84]:
new_values

array([[324.],
       [325.],
       [326.],
       [327.],
       [328.],
       [329.],
       [330.],
       [331.],
       [332.],
       [333.]])

In [85]:
predictions = model.predict(new_values)

In [86]:
predictions

array([[5596.86666667],
       [5714.87878788],
       [5832.89090909],
       [5950.9030303 ],
       [6068.91515152],
       [6186.92727273],
       [6304.93939394],
       [6422.95151515],
       [6540.96363636],
       [6658.97575758]])